.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

/* LAYOUT */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.justify-between {
  justify-content: space-between;
}



.flex-column {
  flex-direction: column;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: var(--padding, 1rem);
  margin-inline: auto;
  max-width: calc(100% - var(--padding, 10rem));
}

.flow > *:where(:not(:first-child))  {
  margin-top: var(--spacer, 1rem);
}

/* GENERAL */
.heading-span {
  display: inline-block;
  margin-right: 1em;
  font-weight: 700;
 
}